@let ctrls = form.controls;

<div class="row row-gap-3">
  <div class="col-12">
    <mat-form-field>
      <mat-label>Тип документа</mat-label>
      <mat-select [formControl]="ctrls.type">
        @for (type of documentTypes; track type.value) {
          <mat-option [value]="type.value">{{ type.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-12 col-md-6">
    <mat-form-field>
      <mat-label>Серия и номер</mat-label>
      <input 
        matInput 
        [formControl]="ctrls.seriesNumber" 
        placeholder="10-12 цифр"
        type="text"
        inputmode="numeric">
      @if (ctrls.seriesNumber.errors?.['pattern']) {
        <mat-error>Должно быть 10-12 цифр</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="col-12 col-md-6">
    <mat-form-field>
      <mat-label>Дата выдачи</mat-label>
      <input 
        matInput 
        [matDatepicker]="picker" 
        [formControl]="ctrls.issueDate"
        [max]="maxDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>