@let ctrls = form.controls;

<form [formGroup]="form" (submit)="submit(form)">
    <h3>Страхователь</h3>
    <i-person-form [form]="ctrls.insuredPerson" [maxBirthdate]="maxBirthDate"></i-person-form>

    <hr>

    <h3>Информация о транспортном средстве</h3>
    <i-vehicle-form [form]="ctrls.vehicle"></i-vehicle-form>
    
    <hr>

    <h3>Собственник</h3>

    <mat-checkbox class="d-block" [checked]="isOwnerInsurer()" (change)="onOwnerIsInsurer($event.checked)">Собственник является страхователем</mat-checkbox>

    @if (!isOwnerInsurer()) {
    <i-person-form class="mt-3" [form]="ctrls.owner" [maxBirthdate]="maxBirthDate"></i-person-form>
    }
    
    <hr>

    <h3>Документ, удостоверяющий личность</h3>
    <i-document-form [form]="ctrls.identityDocument"></i-document-form>
    
    <hr>

    <h3>Контактные данные страхователя</h3>
    <i-contacts-form [form]="ctrls.contactData"></i-contacts-form>
    
    <hr>

    <mat-checkbox class="d-block" [formControl]="ctrls.isIndividualEntrepreneur">
        ИП (Индивидуальный предприниматель)
    </mat-checkbox>

    @if (ctrls.isIndividualEntrepreneur.value) {
    <mat-form-field class="mt-3">
        <mat-label>ИНН</mat-label>
        <input matInput [formControl]="ctrls.inn">
    </mat-form-field>
    }

    <mat-checkbox class="d-block" [formControl]="ctrls.hasSNILS">
        СНИЛС
        <small class="d-block" style="color: #666">Имеет инвалидность, или является представителем инвалида/ребенка-инвалида.</small>
    </mat-checkbox>

    @if (ctrls.hasSNILS.value) {
    <mat-form-field class="mt-3">
        <mat-label>СНИЛС</mat-label>
        <input matInput [formControl]="ctrls.snils">
    </mat-form-field>
    }

    <mat-checkbox class="d-block" [formControl]="ctrls.isOwnerDriver">Собственник является водителем</mat-checkbox>

    <hr>

    <mat-form-field>
        <mat-label>Комментарий</mat-label>
        <textarea matInput [formControl]="ctrls.comment"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary">
        Отправить
    </button>
</form>