@let ctrls = form.controls;

<div class="row row-gap-3">
  <div class="col-12 col-md-6">
    <mat-form-field>
      <mat-label>Марка, модель, год выпуска</mat-label>
      <input matInput [formControl]="ctrls.makeModel" />
    </mat-form-field>
  </div>
  <div class="col-12 col-md-6">
    <mat-form-field>
      <mat-label>Мощность двигателя, л.с.</mat-label>
      <input matInput type="number" [formControl]="ctrls.horsepower" />
    </mat-form-field>
  </div>
  <div class="col-12 col-md-6">
    <mat-form-field>
      <mat-label>Госномер ТС</mat-label>
      <input matInput [formControl]="ctrls.registrationNumber" />
    </mat-form-field>
  </div>
  <div class="col-12 col-md-6">
    <mat-form-field>
      <mat-label>VIN-код (17 символов)</mat-label>
      <input matInput [formControl]="ctrls.vin" maxlength="17" />
    </mat-form-field>
  </div>
  <div class="col-12 col-md-6">
    <mat-form-field>
      <mat-label>Номер СТС</mat-label>
      <input matInput [formControl]="ctrls.stsNumber" />
    </mat-form-field>
  </div>
  <div class="col-12 col-md-6">
    <mat-form-field>
      <mat-label>Дата выдачи СТС</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="ctrls.stsIssueDate" [max]="today" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>