@let ctrls = form.controls;

<div class="row row-gap-3">
  <div class="col-12 col-md-6">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [formControl]="ctrls.email" type="email">
      @if (ctrls.email.errors?.['email']) {
        <mat-error>Некорректный email</mat-error>
      }
    </mat-form-field>
  </div>

  <div class="col-12 col-md-6">
    <mat-form-field>
      <mat-label>Телефон</mat-label>
      <input matInput [formControl]="ctrls.phone" type="tel">
      @if (ctrls.phone.errors?.['pattern']) {
        <mat-error>Формат: 11 цифр, начинается с 7 или 8</mat-error>
      }
    </mat-form-field>
  </div>
</div>