<div class="row gap-3">
    @if (form.controls.email) {
    <div class="col-12 col-md">
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput [formControl]="form.controls.email">
        </mat-form-field>
    </div>
    }
    @if (form.controls.phone) {
    <div class="col-12 col-md">
        <mat-form-field>
            <mat-label>Телефон</mat-label>
            <input matInput [formControl]="form.controls.phone">
        </mat-form-field>
    </div>
    }
</div>